<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.PageTitle}}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css" >
    </head>
    <body>
        <!-- {{if not .PageOffers}}
        <p>No Offers</p>
        {{else}} -->
            {{range .PageOffers}}
            <div class="bg-neutral-100">
                <img src="{{.Logo}}" alt="">
                <div>
                    <div>
                        <p class="text-primary-400 fw-semibold">{{.Company}}</p>
                        {{if .New}}
                            <p class="badge | badge-bg-primary-400 fw-semibold">New!</p>
                        {{end}}
                        {{if .Featured}}
                            <p class="badge | badge-bg-accent-700 fw-semibold">Featured</p>
                        {{end}}
                    </div>
                    <h2 class="fw-semibold text-accent-700">{{.Position}}</h2>
                    <div>
                        <span class="text-accent-400">{{.PostedAt}}</span>
                        <span class="text-accent-400">{{.Contract}}</span>
                        <span class="text-accent-400">{{.Location}}</span>
                    </div>
                </div>
                <div>
                    <div>
                        <span>{{.Level}}</span>
                        {{range .Tools}}
                            <span>{{.}}</span>
                        {{end}}
                        {{range .Languages}}
                            <span>{{.}}</span>
                        {{end}}
                    </div>
                </div>
            </div>
            {{end}}
        <!-- {{end}} -->
    </body>
</html>