<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.PageTitle}}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css" >
    </head>
    <body>
        <!-- {{if not .PageOffers}}
        <p>No Offers</p>
        {{else}} -->
        <h1>{{.PageTitle}}</h1>
            {{range .PageOffers}}
            <div>
                <img src="{{.Logo}}" alt="">
                <div>
                    <div>
                        <p>{{.Company}}</p>
                        {{if .New}}
                            <p>New</p>
                        {{end}}
                        {{if .Featured}}
                            <p>Featured</p>
                        {{end}}
                    </div>
                    <h2>{{.Position}}</h2>
                    <div>
                        <span>{{.PostedAt}}</span>
                        <span>{{.Contract}}</span>
                        <span>{{.Location}}</span>
                    </div>
                </div>
                <div>
                    <div>
                        <span>{{.Level}}</span>
                        {{range .Tools}}
                            <span>{{.}}</span>
                        {{end}}
                        {{range .Languages}}
                            <span>{{.}}</span>
                        {{end}}
                    </div>
                </div>
            </div>
            {{end}}
        <!-- {{end}} -->
    </body>
</html>