<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.PageTitle}}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css" >
    </head>
    <body>
        <header>
            <picture>
                <picture>
                    <source media="(max-width:375px)" srcset="./static/images/bg-header-mobile.svg" alt="small">
                    <source media="(min-width:375px)" srcset="./static/images/bg-header-desktop.svg" alt="big">
                    <img src="./static/images/bg-header-desktop.svg" alt="">
                  </picture>
            </picture>  
        </header>
        <section class="container">
            {{range .PageOffers}}
                <div class="card">
                    <div class="logo">
                      <img src="{{.Logo}}" alt="">  
                    </div>
                    <div class="information">
                        <div class="flex">
                            <p class="text-primary-400 fw-semibold">{{.Company}}</p>
                            <div> 
                            {{if .New}}
                                <span class="badge | badge-bg-primary-400 fw-semibold fs-300">New!</span>
                            {{end}}
                            {{if .Featured}}
                                <span class="badge | badge-bg-accent-700 fw-semibold fs-300">Featured</span>
                            {{end}}
                            </div>  
                        </div>
                        <h2 class="fw-semibold text-accent-700 fs-400">{{.Position}}</h2>
                        <div>
                            <span class="info | text-accent-400">{{.PostedAt}}</span>
                            <span class="info | text-accent-400">{{.Contract}}</span>
                            <span class="info | text-accent-400">{{.Location}}</span>
                        </div>
                    </div>
                <hr>
                    <div class="requirements">
                        <span class="fw-semibold text-primary-400 bg-neutral-100">{{.Level}}</span>
                        {{range .Tools}}
                            <span class="fw-semibold text-primary-400 bg-neutral-100">{{.}}</span>
                        {{end}}
                        {{range .Languages}}
                            <span class="fw-semibold text-primary-400 bg-neutral-100">{{.}}</span>
                        {{end}}
                    </div>
                </div>
            {{end}}
        </section>
    </body>
</html>